html.onedoesnotsimply body {
  background:url("pictures/one-does-not-simply.jpg");
  background-position:center;
  background-size: 100%;
}

html.fixallthebugs body {
  background:url("pictures/all-the-things.jpg");
  background-position:center;
  background-size: 100%;
}

p.top-caption {
	font-size: 2.5em;
	white-space: nowrap;
	text-align: center;
	vertical-align: top;
	font-weight: 900;

	color: black;
	-webkit-text-fill-color: white; /* Will override color (regardless of order) */
	-webkit-text-stroke-width: 3px;
	-webkit-text-stroke-color: black;
}

.fragmented-section {
	width: 100%;
	height: 100%;
	top: 0 !important;
}

.reveal section span.date {
  display: inline-block;
  background: #999;
  color: black;
  padding: 2px 7px;
  border-radius: 5px;
}

.reveal section img.no-border {
  background:none;
  border:none;
  box-shadow:none;
}

.reveal section .unobstrusive-text {
  color: gray;
  font-size: 0.7em;
}

.reveal section code {
  padding: 0 6px;
  background-color: white;
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  color: black;
  border-radius: 5px;
}

.reveal section code.hljs {
  padding: 15px 10px;
  font-size: 95%;
}

body {
  background-size: cover;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('pictures/background.jpg');
}
